@import "tailwindcss";

.neon-text {
  text-shadow:
    0 0 5px #fff,
    0 0 10px #ff00de,
    0 0 20px #ff00de,
    0 0 40px #ff00de;
}
/* index.css */
body {
  overflow-x: hidden;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: orange;
  border-radius: 10px;
}
